


body{
    /* background-image: url(/asset/images/5.png); */
    /* background: #e9e9e9!important; */
}
.fontA
{
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    padding-bottom: 32px;
}
.fontB
{
    /* float: right; */
    text-transform: uppercase;
    font-weight: 400;
    font-size: 35px;
    color: #20317B;
    margin-bottom: 30px;
}
.fontB1{
    font-size: 20px;
}
.button1 
{
    border-radius: 30px;
    width:80px;
    height: 40px;
    border-color: #20317B;
    background-color: #FFFFFF;
}
.spaceA
{
    padding-bottom: 20px;
}
.font1
{
    font-size: 24px;
    color: #153050;
    /* padding-left: 82px; */
    font-weight: 600;

}
.font2
{
    font-size: 20px;
    color :#545454;
    margin-bottom: 30px;
}
.font3
{
    font-size: 14px;
    color :#747474;
    padding-left: 82px;
}
.spaceB
{
    padding-bottom: 50px;
}
.font4
{
    font-size: 14px;
    color: #747474;
    font-weight: bold   
}
.spaceC
{
    padding-bottom: 128px;
}
.pct
{
    width: 72%;
    height: 240px;
    object-fit: cover;
}
.spaceD
{
    float: right;
    padding-top: 15px;
}

/* @media screen and (min-width: 1024px) and (max-width: 425px) {
    .pct{
        width: 80%;
    }
} */
@media screen and (min-width: 0px) and (max-width: 425px) {
    .pct
{
    height: 100% ;
 width: 100%;
}
.fontA
{
    font-size: 16px;
}
.fontB
{
    font-size: 12px;
}
.font1
{
    font-size: 11px;
    padding-left: 0px;

}
.font2
{
    font-size: 10px;
}
.font3
{
    font-size: 11px;
}
.button1 
{
    border-radius: 30px;
    width:80px;
    height: 35px;
}

}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .pct
{
    height: 100% ;

 width: 100%;
}
.fontA
{
    font-size: 24px;
}
.fontB
{
    font-size: 16px;
}
.font1
{
    font-size: 12px;
    padding-left: 0px;

}
.font2
{
    font-size: 11px;
}
.font3
{
    font-size: 12px;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .pct
{
    width: 80%;
    height: 100% ;
}
.fontA
{
    font-size: 30px;
}
.fontB
{
    font-size: 18px;
}
.font1
{
    font-size: 13px;
    padding-left: 0px;

}
.font2
{
    font-size: 12px;
}
.font3
{
    font-size: 13px;
}

}
