body{
    background: #EDE6F1;
  }
  #table{
    table-layout: fixed;
  }
  .btn-news{
    font-size: 14px;
    color: #E3B64C;
    background: #fff;
    border: 1px solid #C9C9C9;
    border-radius: 10px;
    padding: 4px 15px;
  }
  .btn-add{
    font-size: 14px;
    color: #fff;
    background: #703C93;
    border: 1px solid #C9C9C9;
    padding: 4px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 0px;
    float: right;
  
  }
  .box-content{
    margin-top: 50px;
  }
  #table{
    margin-top: 25px;
  }
  #table thead tr{
    background: #2E0748;
    color: #fff;
    display: none;
  }
  .table-data{
    width: 80%;
  }
  .table-manage{
    width: 20%;
  }
  .custom-row{
    margin-right: 0;
    margin-left: 0;
  }
  .form-check.form-switch{
    display: inline-block;
    vertical-align: middle;
  }
  .form-switch .form-check-input{
    height: 20px;
    width: 35px!important;
  }
  .btn-edit{
    background: #FFFFFF !important;
    color: #3D0960 !important;
    border: 1px solid #B79DC9;
    border-radius: 10px;
    vertical-align: middle;
    /* font-size: 14px;
    padding: 2px 5px; */
  }
  .btn-delete{
    background: #FF0000;
    color: #fff;
    border: 0;
    border-radius: 10px;
    vertical-align: middle;
    /* font-size: 14px;
    padding: 2px 5px; */
  }
  #table>tbody>tr:nth-child(odd)>td,
  #table>tbody>tr:nth-child(odd)>th {
     /* background-color: #fff; // Choose your own color here */
   }
  #table>tbody>tr{
    /* background-color: #EDEDED; */
  }
  .img-card{
    /* height: 100px;
    width: 100px;
    background: #c7c7c7;
    border-radius: 5px;
    object-fit: cover;
    object-position: center; */
    /* width: 100%;
    padding-top: 100%;
    background-size: cover !important;
    background-position: center !important; */
  }
  .card-detail{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .text-content{
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  #previewImg{
    max-width: 350px;
    object-fit: cover;
    object-position: center;
  }
  .btn-cancle{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: #C9C9C9;
  }
  .btn-confirm{
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: #000000 !important;
  }
  .img-card{
    width: 100%;
    height: 215px;
    /* padding-top: 90px; */
    background-size: cover !important;
    background-position: center !important;
  }
  .paddin1
  {
    padding-top: 30px;
  padding-bottom: 30px;
  } 
  .paddin2
  {
    padding-top: 30px;
  
  } 
  .paddin3
  {
    padding-top: 50px;
  
  } 
  .labl01
  {
  height: 35px;
    width: 90%;
  }
  .labl02
  {
  height: 200px;
    width: 60%;
  }
  
  .labl03
  {
  height: 200px;
    width: 50%;
  }
  
  .labl04
  {
  height: 200px;
    width: 90%;
  }
  
  .paddinfont
  {
    font-size: 20px;
    padding-left: 20px;
  
  
  }
  .btnbor
  {
    border-color: #7b728100;
  } 
  .homecolumn1{
    font-size: 20px;
    text-transform: uppercase;
  }