.coloee
{
    background-color: #F5F5F5;
}
.fontA
{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 32px;
}
.fontB
{
    font-size: 28px;
    color: #153050;
    margin-bottom: 30px;
}
.button1 
{
    border-radius: 30px;
    width:103px;
    height: 52px;
    border-color: #20317B;
    background-color: #FFFFFF;
}
.spaceA
{
    padding-bottom: 20px;
}
.font1
{
    font-size: 24px;
    color: #153050;
    /* padding-left: 82px; */
    font-weight: 600;

}
.font2
{
    font-size: 20px;
    color :#545454;
}
.font3
{
    font-size: 14px;
    color :#747474;
    padding-left: 82px;
}
.spaceB
{
    padding-bottom: 50px;
}
.font4
{
    font-size: 14px;
    color: #747474;
    font-weight: bold   
}
.spaceC
{
    padding-bottom: 128px;
}
.pct
{
 width: 70%;
 /* height: 400px; */
 float: right;
}
.spaceD
{
    padding-top: 15px;
}
@media screen and (min-width: 0px) and (max-width: 425px) {
    .pct
{
    height: 100% ;
 width: 100%;
}
.fontA
{
    font-size: 20px;
}
.fontB
{
    font-size: 12px;
}
.font1
{
    font-size: 11px;
    padding-left: 0px;

}
.font2
{
    font-size: 10px;
}
.font3
{
    font-size: 11px;
}
.button1 
{
    border-radius: 30px;
    width:80px;
    height: 35px;
}

}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .pct
{
    height: 100% ;

 width: 100%;
}
.fontA
{
    font-size: 24px;
}
.fontB
{
    font-size: 16px;
}
.font1
{
    font-size: 12px;
    padding-left: 0px;

}
.font2
{
    font-size: 11px;
}
.font3
{
    font-size: 12px;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .pct
{
    width: 100%;
    height: 100% ;
}
.fontA
{
    font-size: 30px;
}
.fontB
{
    font-size: 18px;
}
.font1
{
    font-size: 13px;
    padding-left: 0px;

}
.font2
{
    font-size: 12px;
}
.font3
{
    font-size: 13px;
}

}
