
.spaceQQ{
    padding-top: 20px;
    color: #000000;
    font-size: 18px;
}
.sds56{
    width: 120px;
}
/* .btnadd1{
    color: #0365f7;
    font-size: 15px;
} 
.btnadd1:hover{
    color: #0365f7;
} */
.btnadd{
    /* color: #33a0d3; */
    /* background: #0365f7; */
}

.loaderadd {
    /* text-align: start; */
    margin-top: 20px;
    font-size: 35px;
    /* font-family: sans-serif; */
    font-variant: small-caps;
    font-weight: 900;
    background: conic-gradient(
      #0365f7 0 25%,
      #389ee2 25% 50%,
      #3462f7 50% 75%,
      #33a0d3 75%
    );
    background-size: 200% 200%;
    animation: animateBackground 4.5s ease-in-out infinite;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  @keyframes animateBackground {
    25% {
      background-position: 0 100%;
    }
  
    50% {
      background-position: 100% 100%;
    }
  
    75% {
      background-position: 100% 0%;
    }
  
    100% {
      background-position: 0 0;
    }
  }